<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="HipChatServer" value="chat.hipchat.com"/>
    <add key ="HipChatUsername" value="8651_28368"/>
    <add key ="HipChatPassword" value="tobyolped"/>
    <add key ="HipChatResource" value="bot"/>
    <add key ="HipChatBotName" value="autobot"/>
    <add key ="HipChatRooms" value="@all"/> <!--comma-delimited list of room id's-->
  </appSettings>
</configuration>