<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key ="HipChatServer" value="chat.hipchat.com"/>
    <add key ="HipChatUsername" value="1234_56789"/>
    <add key ="HipChatPassword" value="password"/>
    <add key ="HipChatResource" value="bot"/>
    <add key ="HipChatBotName" value="autobot"/>
    <add key ="HipChatRooms" value="@all"/>
    <!--comma-delimited list of room id's-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.SimpleLayout" />
      <mapping>
        <level value="DEBUG" />
        <foreColor value="White, HighIntensity" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Green, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>

    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>

  </log4net>
</configuration>
